p {
      color: rgb(189, 59, 33);
      font-size: 25px;
      font-weight: bold;
    }
    img {
      border: 2cap solid rgb(255, 255, 255);
    }
 body {
      background-color: rgb(225, 193, 193);
    }
    div {
      padding: 10px;
      margin: 10px;;
    }
h1 {
      color: rgb(201, 137, 34);
      font-weight: bold;
    }
    table, th, td { border: 1px solid black; }
table {
      width: 25%;
      border-collapse: colla  
    }
      th {
      background-color: rgb(201, 137, 34);
    }
    td {
      text-align: center;
      background-color: rgb(189, 59, 33);
    }
    form {
      background-color: rgb(201, 137, 34);
    }
     label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid rgb(189, 59, 33);
      border-radius: 8px;
    }
    input[type="submit"] {
      background-color: rgb(189, 59, 33);
      color: rgb(201, 137, 34);
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    h2 {
      color: rgb(189, 59, 33);
    }
    li {
      color: rgb(201, 137, 34);
      font-size: 15px;
      font-weight: bold;
    }
    .transition-button {
        background-color: rgb(189, 59, 33);
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .transition-button:hover {
        background-color: rgb(201, 137, 34);
      }
      .animation-box {
        width: 50px;
        height: 50px;
        background-color: rgb(189, 59, 33);
        position: relative;
        animation: move 2s infinite alternate;
      }
       @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 369px;
        }
      }
      .pseudo-list li:nth-child(odd) {
        background-color: rgb(189, 59, 33);
        width: 250px;
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: rgb(255, 255, 255);
        width: 250px;
      }
      ul.pseudo-list {
        list-style-type: none;
        padding: 0;
      }
      .filter-image {
        filter: grayscale(0%);
        transition: filter 0.3s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0100%);
      }
      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
        color: rgb(189, 59, 33);
      }
      
      .quote::before {
        content: '“';
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: rgb(201, 137, 34)
      }